body {
    background-color: #ddd7cc;
    margin: 0;
    padding: 0px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#header-bar {
    background-color: #6b1d2f;
    color: #ddd7cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#logo {
    font-size: 24px;
    font-weight: bold;
}
#menu-toggle {
    background: none;
    border: 1px solid #ddd7cc;
    padding: 12px 12px;
    border-radius: 12px;
    font-size: .9rem;
}
#nav-menu {
    background-color: #ddd7cc;
    border-bottom: 3px solid #6b1d2f;
    transform: translateY(-110%);
    transition: transform 0.3s ease-in-out;
}
#nav-menu.open {
    transform: translateY(0);
}
#nav-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #1a1a1a;
}
#nav-menu li a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 500;
}