body {
    background-color: #ddd7cc;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#header-bar {
    background-color: #6b1d2f;
    color: #ddd7cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1001;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#menu-toggle {
    background: none;
    border: 1px solid #ddd7cc;
    padding: 12px 12px;
    border-radius: 12px;
    font-size: .9rem;
}
#nav-menu {
    background-color: #ddd7cc;
    border-bottom: 3px solid #6b1d2f;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
}
#nav-menu.open {
    transform: translateY(0);
}
#nav-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #1a1a1a;
}
#nav-menu li a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-content {
    top: calc(var(--header-height));
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#familyPhoto {
    height: max-content;
}
#family-photo {
    background-image: url(Art-Stuff/512familyphoto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    width: 90dvw;
    height: auto;
    
    position: relative;
    box-shadow: 4px 4px 7px #1a1a1a;
    border-radius: 10px;
}
.family-button {
    max-width: 60px;
    max-height: 60px;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 5;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1a1a;
    font-family: 'baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
    text-shadow: 
       -1px -1px 0 #ddd7cc,
        1px -1px 0 #ddd7cc,
       -1px  1px 0 #ddd7cc,
        1px  1px 0 #ddd7cc,
        0px  2px 4px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-decoration: underline;
    font-size: 6.5dvw;
    font-weight: 900;
}
.family-button:hover {
    opacity: 1;
}
.family-button .active-name {
    opacity: 1;
}
#Allison {
    left: 9%;
    top: 19%;
    height: 60px;
    width: 25px;
}
[id="Ammon Stark"] {
    left: 19%;
    top: 16%;
    height: 60px;
    width: 30px;
}
#Ben {
    left: 43%;
    top: 15%;
    height: 60px;
    width: 35px;
}
#Theresa {
    left: 65%;
    top: 15%;
    width: 35px;
    height: 60px;
}
[id="Stanley Stark"] {
    left: 87%;
    top: 25%;
    height: 60px;
    width: 35px;
}
#Rob {
    left: 17%;
    top: 49%;
    height: 40px;
    width: 30px;
}
[id="Stan (Gooby)"] {
    left: 28%;
    top: 49%;
    height: 40px;
    width: 30px;
}
#Tommy {
    left: 41%;
    top: 50%;
    width: 40px;
    height: 40px;
}
#Kyle {
    left: 54%;
    top: 50%;
    width: 40px;
    height: 40px;
}
#Suzy {
    left: 87%;
    top: 55%;
    width: 40px;
    height: 60px;
}
#Rebekah {
    left: 18%;
    top: 68%;
    width: 40px;
    height: 60px;
}
[id="Dorothy Stark"] {
    left: 38%;
    top: 70%;
    width: 40px;
    height: 60px;
}
#Jeanette {
    left: 58%;
    top: 68%;
    width: 40px;
    height: 60px;
}
#Cindy {
    left: 75%;
    top: 84%;
    width: 50px;
    height: 60px;
}


#everythingElse {
   height: max-content;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#content-container {
    height: max-content;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
}
#content-Title {
    font-size: 12dvw;
    font-weight: 900;
    color: #1a1a1a;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
}
#content-Description {
    font-size: 5dvw;
    font-weight: 600;
    color: #1a1a1a;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: 'baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
}
.content-box {
    width: 100%;
    height: max-content;
    position: relative;
    background-color: #6b1d2f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.expandtion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    color: #ddd7cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
}
.expandtion-button {
    font-size: 7dvw;
    font-weight: bold;
    color: #ddd7cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    user-select: none;
}
.expandtion-content {
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
}
.expandtion-content.expanded {
    max-height: 1000px;
}
.expandtion-inner {
    padding: 0 15px 15px 15px;
}

#stanley-books-section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

#spotlight {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd7cc;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    color: #1a1a1a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
#spotlight h4 {
    margin-top: 5px;
    font-family: 'Baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
    font-weight: 600;
}
#spotlight-title {
    font-size: 7dvw;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
}
#spotlight-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
#spotlight-image {
    width: 45%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 7px 10px rgba(0, 0, 0, 0.9));
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
#spotlight-description {
    width: 45%;
    height: 80%;
    font-size: 4dvw;
    color: #1a1a1a;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    font-family: 'Baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
}
#spotlight-page-link {
    margin-top: 10px;
    color: #1a1a1a;
    text-decoration: none;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
}
#spotlight-page-link:hover {
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.2rem;
}

#bookshelf {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#bookshelf-contents {
    width: 100%;
    height: max-content;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-image: url(Art-Stuff/bookshelf.png);
    background-position: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    row-gap: 10px;
}
.books-cover {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.books-title {
    text-align: center;
    color: #ddd7cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-decoration: none;
    background-color: #6b1d2fd3;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
}
.books-title:hover {
    text-decoration: underline;
}
#view-all-link {
    margin-top: 12px;
    color: #ddd7cc;
    text-decoration: none;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
}
#view-all-link:hover {
    text-decoration: underline 0.1rem;
    text-underline-offset: 0.2rem;
}

#family-pages-note {
    font-size: 4dvw;
    font-weight: bold;
    color: #98958e;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 10px;
    font-family: 'baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
}
#family-pages-description {
    font-size: 5dvw;
    font-weight: bold;
    color: #ddd7cc;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 10px;
    font-family: 'baskerville', 'Baskerville Old Face', 'Hoefler', 'Garamond', serif;
}


#installPromtContainer {
    position: absolute;
    width: 100dvw;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: #1a1a1aa8;

    display: none;
    user-select: none;
}

#ios-installPromt {
    display: none;
    user-select: none;

    overflow-y: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95dvw;
    height: 60dvh;
    background-color: #ddd7cc;
    border-radius: 20px;
    box-shadow: inset -4px -4px 10px #1a1a1abe;
}
#installPromt {
    display: none;
    user-select: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95dvw;
    height: 55dvh;
    background-color: #ddd7cc;
    border-radius: 10px;
    box-shadow: inset -4px -4px 10px #1a1a1abe;
}

.promtBanner {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    background-color: #6b1d2f;
}
.promtCloseContainer {
    position: absolute;
    right: 5px;
    display: inline;
    cursor: pointer;
}
.promtCloseContainer img {
    display: block;
}
.promtCloseContainer .promtCloseHover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.promtCloseContainer:hover .promtCloseHover {
    opacity: 1;
}
.promtCloseContainer:hover .promtClose {
    opacity: 0;
}

.promptContent {
    position: absolute;
    height: max-content;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#installPromt .promptContent {
    position: absolute;
    width: 95dvw;
    height: calc(55dvh - 50px);
    top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#iosPromtIconArea {
    margin-top: 15px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#iosPromtIconArea img {
    width: auto;
    height: 28dvh;
    border-radius: 24px;
}
#iosPromtIconArea h2 {
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 5px;
    font-size: 35px;
    font-weight: 1000;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
}
#iosPromtIconArea p {
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
}
#IosPromtGuideArea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#IosPromtGuideArea h2 {
    margin: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
}
#IosPromtGuideArea ul {
    margin-top: 5px;
    padding: 0;
    width: 80%;
    height: max-content;
    list-style-type: none;
}
#IosPromtGuideArea li {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: double 4px #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
}
#IosPromtGuideArea li:first-child {
    border-top: double 4px #1a1a1a;
}
.iosImg-Menu {
    height: 14px;
    width: 14px;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(25%);
}
.iosImg-Share {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(25%);
}


#promptContentHeader {
    grid-column: 1/-1;
    width: 95dvw;
    height: calc((55dvh - 50px) * 0.15);
    text-align: center;
}
#promptContentHeader h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 1000;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
    white-space: nowrap;
}
#promptContentHeader p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
    white-space: nowrap;
}
#promptIconArea {
    height: calc((55dvh - 50px) * 0.425);
    width: calc(95dvw *.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#promptIconArea img {
    margin-top: 20px;
    height: auto;
    width: 85%;
    border-radius: 30px;
}
#promptBenifitsArea {
    grid-row: span 2;
    width: calc(95dvw *.5);
    height: calc((55dvh - 50px) * 0.85);
    display: flex;
    justify-content: center;
}
#promptBenifitsArea ul {
    padding: 0;
    margin-top: 30px;
    width: 95%;
    height: max-content;
    list-style-type: none;
}
#promptBenifitsArea li {
    text-align: center;
    margin: 0;
    
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: double 4px #1a1a1a;
    
    font-size: 17px;
    font-weight: 600;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
}
#promptBenifitsArea li:first-child {
    border-top: double 4px #1a1a1a;
}
#installButtonArea {
    margin-bottom: 10px;
    width: calc(95dvw *.5);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#installButton {
    height: calc(((55dvh - 50px) * 0.15));
    width: calc(95dvw *.45);
    background-color: #6b1d2f;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #1a1a1a;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#installButton h1 {
    
    font-size: 30px;
    font-weight: 1000;
    color: #ddd7cc;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
    white-space: nowrap;
}
#installButton:hover {
    color: #ddd7cc;
    text-decoration: underline;
    transform: scale(1.02) translateY(-2px);
}
#declineButton {
    margin-top: 15px;
    margin-bottom: 10px;
    height: calc(((55dvh - 50px) * 0.12));
    width: calc(95dvw *.4);
    background-color: #ddd7cc;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #1a1a1a;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#declineButton h2 {
    
    font-size: 20px;
    font-weight: 1000;
    color: #1a1a1a;
    font-family: 'Garamond', 'Baskerville', 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    user-select: none;
    white-space: nowrap;
}
#declineButton:hover {
    color: #1a1a1a;
    text-decoration: underline;
    transform: scale(1.02) translateY(-2px);
}